body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

/* CONTROLS PANEL */

.controls_panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    background-color: #1e1e1e;
    color: #F0F0F0;
}

/* MAIN BUTTONS */

.controls_panel .controls_section {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.buttons_panel button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2c662e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons_panel button:first-child {
    margin-left: 0;
}

.buttons_panel button:last-child {
    margin-right: 0;
}

.buttons_panel button:hover {
    background-color: #3e8e41;
}

.buttons_panel button:active {
    background-color: #1e4d1e;
}

/* SLIDER */

.slider_container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.slider_container > div:first-child {
    display: flex;
}

.slider_container > div:first-child > * {
    margin: 0 5px;
}

.slider_info {
    color: #a5a5a5;
    font-size: .8rem;
    margin-left: 142px;
}

/* WIND */

.wind_container {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.wind_container .wind_toggle {
    grid-column-start: 2;
    grid-row-start: 2;

    position: relative;
    box-sizing: border-box;

    background-image: url("./assets/icons/wind.svg");
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
    padding: 15px;
    background-color: #333;
}

.wind_container.active .wind_toggle {
    background-color: #DDD;
}

.wind_container:not(.active) .wind_toggle {
    background-color: #333;
}

.wind_container .wind_toggle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: -3px;
    left: -4px;
}

.wind_north {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 30px;
    height: 34px;
    background-color: #dedede;
    clip-path: polygon(0 100%, 100% 100%, 50% 30%);
    cursor: pointer;
}

.wind_east {
    grid-column-start: 3;
    grid-row-start: 2;
    width: 26px;
    height: 30px;
    background-color: #dedede;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    cursor: pointer;
}

.wind_south {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 30px;
    height: 34px;
    background-color: #dedede;
    clip-path: polygon(0 0, 100% 0%, 50% 70%);
    cursor: pointer;
}

.wind_west {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 26px;
    height: 30px;
    background-color: #dedede;
    clip-path: polygon(0 50%, 100% 0%, 100% 100%);
    cursor: pointer;
}

.wind_container.active .wind_directional_button:hover {
    background-color: #ffffff;
}

.wind_container.active .wind_directional_button:active {
    background-color: #939393;
}

.wind_container:not(.active) .wind_directional_button {
    background-color: #595959;
}